<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
</head>
<body>
<h2>Группы</h2>
<form action="/addGroup" method="post">
    <input type="text" name="name" placeholder="Введите группу"/>
    <button type="submit">Добавить</button>
</form>
<table>
    <tbody>
    <tr th:each="grp: ${grpList}">
        <td th:text="${grp.getId()}"/>
        <td th:text="${grp.getName()}"/>
        <td>
            <form action="/deleteGroup" method="post">
                <input type="hidden" name="id" th:value="${grp.getId()}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>