<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предметы</title>
</head>
<body>
<h2>Предметы</h2>
<form action="/addSubject" method="post">
    <input type="text" name="name" placeholder="Введите название предмета"/>
    <button type="submit">Добавить</button>
</form>
<table>
    <tbody>
    <tr th:each="subject: ${listSubject}">
        <td th:text="${subject.getId()}"/>
        <td th:text="${subject.getName()}"/>
        <td>
            <form action="/deleteSubject" method="post">
                <input type="hidden" name="id" th:value="${subject.getId()}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>